@{
    ViewBag.Title = "Job : Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SmartLion.Web.Models.JobModel
<div class="row">
    <h3 class="page-header">
        Job Management
    </h3>
</div>
<div class="row">
    @using (Html.BeginForm("Create", "Job", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
         <div class="form-group">
            <label class="col-sm-2 control-label">
                Job Name:</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Job Name" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <input type="submit" name="actionType" value="Save" class="btn btn-primary"></input>
                <a href="@Url.Action("Index", "Job")" class="btn btn-default" role="button">Cancel</a>
            </div>
        </div>
    }
</div>


